@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

:root {
    --color-white: 255, 255, 255, 1;
    /* #fff */
    --color-blue: 43, 64, 116, 1;
    /* #2b4074 */
    --color-gray: 74, 74, 74, 1;
    /* rgba(74, 74, 74, 1) */

    --color-light-beige: 249, 246, 229, 1;
    /* rgba(249, 246, 229, 1) */
    --padding-left-default: 153px;
    --padding-right-default: 135px;


}


/* header */
html body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;



}


header {
    height: 100px;
    background-color: rgb(var(--color-blue));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    align-content: space-between;

}

.header-padding {
    padding-left: var(--padding-left-default);
    padding-right: var(--padding-right-default);
}

.header-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.di-gi {
    margin-top: 17px;
    margin-bottom: 18px;
}


.container-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .header-padding {
        padding-left: 46px;
        padding-right: 42px;
    }
}

@media only screen and (max-width: 640px) {
    .di-gi {
        margin-top: 7px;
    }

    .header-button {
        margin-top: 20px;
    }

    header {
        height: 80px;
    }

    .header-padding {
        padding-left: 35px;
        padding-right: 17px;
    }
}

@media only screen and (max-width: 639px) {
    .header-padding {
        padding-left: 17px;
        padding-right: 17px;
    }
}


/* intro */


.main-background {
    max-width: 1440px;
    width: 100%;
    height: 668px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.intro__container {
    overflow: hidden;
    margin: 0 auto;

}

.background-img__1 {
    position: relative;
    width: 100%;
    height: 668px;
    background-size: cover;
    background-position: center;
    z-index: 1;

}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(33, 33, 33, 0.5));
    z-index: 2;
    pointer-events: none;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;


}

.banner,
h1,
h3,
p {
    color: rgb(var(--color-white));
    z-index: 10;
}

.banner-content {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    z-index: 10;
}

.content-space {
    margin: 0;
    margin-top: 107px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.intro__line {
    position: absolute;
    width: 62px;
    height: 8px;
    margin-top: 317px;
    background-color: rgb(var(--color-gray));
    display: none;

}

.intro-text {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    margin-top: 317px;
    text-align: center;
}


.intro-button {
    position: absolute;
    cursor: pointer;
}

.button-more-position {
    height: 50px;
    padding: 16px 43px;
    background: rgb(var(--color-blue));
    border-radius: 3px;
    margin-top: 405px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;


}

.button-content {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgb(var(--color-light-beige));
    text-transform: uppercase;
    align-content: center;
    display: flex;
    text-decoration: none;

}

.move-button {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    position: absolute;
    border-radius: 2px;
    cursor: pointer;

}

.button-container {
    position: absolute;
    width: 1440px;
    margin: 0;
    gap: 0;
}

.color-button-blue {
    top: 264px;
    right: 0;
    background: rgb(var(--color-blue));
}

.color-button-white {
    top: 335px;
    right: 0;
    background: rgb(var(--color-light-beige));
}

.icon-position {
    position: absolute;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 19px 22px 25px;
    text-decoration: none;
}

.pagination-button {
    position: absolute;
    width: 50px;
    height: 25px;
    background: local;
    border: none;
    margin-top: 578px;
    text-decoration: none;
    z-index: 10;
    display: flex;
    gap: 7px;

}


[class^='dot-'] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(var(--color-white));
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

[class^='dot-'].active {
    background-color: rgb(var(--color-blue));
    border-color: rgb(var(--color-white));
}

.color-button-white img,
.color-button-blue img {
    width: 30px;
    height: 30px;
}

.custom-next {
    position: absolute;
    top: 264px;
}

.custom-prew {
    position: absolute;
    top: 335px;

}

@media only screen and (min-width: 1025px) {

    .main-background {
        width: 100%;

    }

    .button-container {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .main-background {

        height: 618px;
    }

    .background-img {
        height: 618px;
    }

    .banner-content {
        font-size: 84px;
        line-height: 84px;


    }

    .content-space {
        margin-top: 101px;


    }

    .intro__line {
        display: none;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;


    }

    .intro-text-space {
        top: 310px;


    }

    .button-more-position {
        margin-top: 366px;

    }

    .button-container {

        width: 100%;

    }

    .color-button-blue {
        top: 253px;

    }

    .color-button-white {
        top: 310px;

    }

    .move-button {
        width: 60px;
        height: 60px;
    }

    .pagination-button {
        margin-top: 528px;

    }
}



@media only screen and (min-width: 641px) and (max-width: 768px) {
    .main-background {
        height: 465px;
    }

    .background-img {

        height: 465px;

    }

    .banner-content {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0px;
    }

    .content-space {
        margin-top: 87px;


    }

    .intro-text {
        margin-top: 233px;
    }

    .button-more-position {
        margin-top: 303px;
        margin-bottom: 113px;
    }

    .button-container {
        width: 100%;

    }

    .color-button-blue {
        top: 176px;

    }

    .color-button-white {
        top: 233px;

    }

    .move-button {
        width: 60px;
        height: 60px;
    }
    .pagination-button {
        margin-top: 403px;
    }
}



@media only screen and (max-width: 640px) {
    .main-background {
        height: 386px;
    }

    .background-img {
        width: 100%;
        height: 386px;
        background-size: cover;
        background-position: center;

    }

    .content-space {
        margin-top: 50px;

    }

    .intro__line {
        width: 62px;
        height: 8px;
        margin-top: 180px;
        display: initial;

    }

    .intro-text {
        display: none;

    }

    .button-more-position {
        margin-top: 223px;
        margin-bottom: 113px;

    }

    .button-container {
        max-width: 640px;

    }

    .color-button-blue {
        top: 137px;

    }

    .color-button-white {
        top: 197px;

    }

    .move-button {
        width: 60px;
        height: 60px;
    }


    .pagination-button {
        margin-top: 326px;

    }
}

@media only screen and (max-width: 639px) {
    .main-background {
        height: 193px;
    }

    .background-img {
        height: 193px;
    }

    .banner-content {
        font-size: 28px;
        line-height: 28px;
        letter-spacing: 0px;

    }

    .content-space {
        margin-top: 36px;

    }

    .intro__line {
        margin-top: 120px;
    }

    .intro-text {
        width: 100px;
        height: 8px;
        margin-top: 15px;

    }

    .button-more-position {
        display: none;

    }

    .button-container {
        max-width: 639px;

    }

    .move-button {
        display: none;
    }

    .pagination-button {
        margin-top: 163px;

    }

    [class^='dot-'] {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgb(var(--color-white));
        border: 1px solid transparent;
        transition: background-color 0.3s ease, border-color 0.3s ease;


    }

    [class^='dot-'] {
        width: 11px;
        height: 11px;
    }
}


/* promo */

.bottom-box {
    height: 192px;
    background-color: rgb(var(--color-blue));
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-padding {
    padding-left: var(--padding-left-default);
    padding-right: var(--padding-right-default);
}

.footer__space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    flex-direction: column;

}

.footer-text-header {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 4px 0;

}

.footer-text-articles {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.button-position-call-me-back {
    width: 200px;
    height: 50px;
    background: rgb(var(--color-light-beige));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    margin: 0;
    transition: background-color 0.3s ease;
}

.content-call-me-back {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: rgb(var(--color-blue));
    text-decoration: none;
}

@keyframes gradientBlueButton {

    0% {
        background: radial-gradient(farthest-corner at bottom,
                rgba(167, 162, 198, 0.5) 10%,
                rgba(122, 131, 194, 0.6) 30%,
                rgba(36, 142, 166, 0.4) 60%, rgba(21, 15, 106, 0.3) 70%);
        background-size: 80%;
    }

    100% {
        background: radial-gradient(farthest-corner at top,
                rgba(63, 127, 180, 0.2) 100%,
                rgba(21, 15, 106, 0.4) 150%);
        background-size: 100%;
    }
}

.button-more-position:hover,
.color-button-blue:hover {
    animation: gradientBlueButton 3.0s ease-out forwards;
    backdrop-filter: blur(10px);
    transform: scale(1.05);

}


@keyframes gradientWhitebutton {
    0% {
        background: radial-gradient(circle at bottom,
                rgba(152, 216, 239, 0.9) 10%,
                rgba(166, 207, 237, 0.9) 30%,
                rgba(192, 220, 250, 0.8) 50%);
        background-size: 0%;
    }

    50% {
        background: radial-gradient(circle at top,
                rgba(152, 216, 239, 0.7) 10%,
                rgba(166, 207, 237, 0.8) 30%,
                rgba(192, 220, 250, 0.7) 50%,
                rgba(214, 229, 242, 0.6) 70%,
                rgba(166, 207, 237, 0.9) 100%);
        background-size: 75%;
    }

    100% {
        background: radial-gradient(circle at top,
                rgba(214, 229, 242, 0.7) 60%,
                rgba(248, 249, 249, 0.9) 100%);
        background-size: 100%;
    }
}

.color-button-white:hover,
.button-position-call-me-back:hover {
    animation: gradientWhitebutton 3s ease-out forwards;
    backdrop-filter: blur(15px);
    transform: scale(1.05);

}


@media only screen and (max-width: 1024px) {
    .footer-padding {
        padding-left: 46px;
        padding-right: 42px;
    }

    .video__block-flex {
        gap: 34px;
    }

    .bottom-box {
        height: 160px;
    }
}

@media only screen and (max-width: 768px) {
    .bottom-box {
        height: 187px;
    }
}

@media only screen and (max-width: 640px) {
    .bottom-box {
        height: 254px;
        text-align: center;

    }

    .footer__space-between {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 639px) {
    .bottom-box {
        height: 301px;
    }


}